@*coded by Larisa Steig*@
@model Workshop5.Rev2.Data.Domain.Packages

<div>
    <h1 id="uxPackageMessage">Package Details</h1>
    <hr />
    <div class="card">
        <img id="uxImageDisplay" src="@Url.Content(@Model.Photo)" alt="@Model.AlternativeText" style="max-width:400px; max-height:400px;" />
        <div class="card-body">
            <table id="uxDetailDisplay" class="table-bordered table col-sm-6">
                <tr>
                    <td> @Html.DisplayNameFor(model => model.PkgName)</td>
                    <td> @Html.DisplayFor(model => model.PkgName)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.PkgStartDate)</td>
                    @*<td> @Html.DisplayFor(model => model.PkgStartDate)</td>*@
                    <td>@Model.PkgStartDate.Value.ToString("d")</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.PkgEndDate)</td>
                    @*<td>@Html.DisplayFor(model => model.PkgEndDate)</td>*@
                    <td>@Model.PkgEndDate.Value.ToString("d")</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.PkgDesc)</td>
                    <td>@Html.DisplayFor(model => model.PkgDesc)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.PkgBasePrice)</td>
                    <td>@Html.DisplayFor(model => model.PkgBasePrice)</td>
                </tr>
            </table>
            <div id="uxConfirm" class="text-center">
                <span id="uxButton" class="btn btn-success">@Html.ActionLink("Edit", "Edit", new { id = Model.PackageId })</span>
                <span id="uxButton" class="btn btn-danger">@Html.ActionLink("Create", "Create")</span>
                <a href="~/Agent/Index" class="text-center btn btn-warning justify-content-center">Return to Main Page</a>
            </div>
        </div>
    </div>
</div>
